<div class="ngdialog-message">
  <div class="">
    <h3>Register </h3>
  </div>
  <div class="">&nbsp;</div>
  <div class="">
    <form ng-submit="doRegister()">
      <div class="form-group">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control input-sm" id="username" placeholder="Username"
               ng-model="registration.username">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control input-sm" id="password" placeholder="Password"
               ng-model="registration.password">
      </div>
      <div class="form-group">
        <label class="sr-only" for="firstname">First Name</label>
        <input type="text" class="form-control input-sm" id="firstname" placeholder="First Name"
               ng-model="registration.firstname">
      </div>
      <div class="form-group">
        <label class="sr-only" for="lastname">Last Name</label>
        <input type="text" class="form-control input-sm" id="lastname" placeholder="Last Name"
               ng-model="registration.lastname">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="registration.rememberMe"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-info btn-sm">Register</button>
      <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>
    </form>
  </div>
</div>
